node_modules/
release/
installer/
coverage/
bugs/

build/config.gypi
build/static
testdata/out
certs/
test/out/
target/
dist/
build/
out/
test-results/
playwright-report/

src/package-lock.json
src/node_modules/
workspace.*
.vscode
.vscode/*
.log
.log.*
.log-*
settings.json
logfile.json
**/secrets.json
app/.settings/
bin/*/ergoapp.node
nohup.out
config/setttings.json
.env
